/* Basic Style */
.page {
  background-color: #f8f8f8;
  color: #333;
  font-family: Lato, sans-serif;
}

/* Matrix Block */
.matrix {
  width: 800px;
  margin: 0 auto;
  display: block;
  text-align: right;
}

.matrix__image {
  width: 100%;
}

.matrix__link {
  font-family: fantasy, cursive;
}

@media (max-width: 768px) {
  .matrix {
    text-align: center;
  }
}

/* Todo App Block */
.todo-app {
  display: block;
  width: 800px;
  margin: 0 auto 0;
}

/* Task Block */
.task {
  width: 56%;
  display: inline-block;
  flex-grow: 1;
}

.task__row {
  display: flex;
  gap: 10px;
}

.task__list {
  margin: 0;
  padding: 0;
}

.task__item {
  list-style: none;
  overflow: hidden;
  padding: 20px 0;
  border-bottom: 1px solid #eee;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 10px;
}

.task__item > * {
  vertical-align: middle;
}

.task__checkbox {
  margin: 0 10px;
}

.task__label,
.task__input {
  padding-left: 10px;
  box-sizing: border-box;
  font-size: 18px;
  width: 400px;
}

.task__input {
  margin: 0;
  font-size: 18px;
  line-height: 18px;
  height: 21px;
  padding: 0 9px;
  border: 1px solid #ddd;
  background: #fff;
  border-radius: 6px;
  font-family: Lato, sans-serif;
  color: #888;
}

.task__input:focus {
  color: #333;
}

.task__input_hidden {
  display: none;
}

.task__item_completed {
  color: #888;
  text-decoration: line-through;
}

.task__item_editing .task__input {
  display: inline-block;
  width: 400px;
}

.task__item_editing .task__label {
  display: none;
}

/* Button Block */
.button {
  background: none;
  border: 0;
  color: #888;
  font-size: 15px;
  min-width: 60px;
  font-family: Lato, sans-serif;
  cursor: pointer;
  outline: none;
  padding: 0 10px;
}

.button:hover {
  color: #3a3a3a;
}

.button_delete:hover {
  color: #cf2323;
}

.button__icon {
  height: 2em;
  transform: rotateZ(45deg);
  transition: transform 200ms ease-in;
}

.button__icon:hover {
  transform: rotateZ(0);
}

/* Section Block */
.section__title {
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  margin: 0;
  text-transform: uppercase;
  list-style: none;
}

/* Add Task Block */
.add-task__label {
  display: block;
  margin: 0 0 20px;
  color: #333;
  font-weight: 700;
  font-size: 15px;
  border-bottom: 2px solid #333;
  padding: 30px 0 10px;
  text-transform: uppercase;
}

.add-task__input {
  width: 500px;
}